<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"> <!--stackoverflow.com/questions/28207761-->
        <script type="text/javascript" src="{{url_for('static', filename='script.js')}}" defer></script>
        <!--stackoverflow.com/questions/807878-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <div class="tg-wrap" style="width: 100%;"><table style="width: 100%;" class="double-border">
        <tbody>
          <tr>
            <td style="width: 30%;"></td>
            <td style="width: 70%;"></td>
          </tr>
        </tbody>
        </table></div>
    </body>
</html>
